.App {
  margin: auto;
}

.App .title-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-box p {
  z-index: 10;
  font-size: 15vmin;
  font-family: 'Inter';
  font-weight: 700;
  color: #ffffff;
}

.dot {
  color: crimson;
}

.dot:hover {
  color: white;
}
