.App {
  margin: auto;
  /* display: flex; */
}

.App .title-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 100vh; */
}

/* .App .square-box {
  position: absolute;
  top: 40vh;
  left: 30vmin;
  height: 10vw;
  width: 10vw;
  background-color: crimson;
} */

.title-box p {
  z-index: 10;
  font: 15vmin helvetica neue, sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.title-box p .dot {
  color: crimson;
}
